@media screen and (max-width: 1200px) {
    .promotion .promotion__section {
        grid-gap: 2rem;
    }
    .promotion .promotion__preview,
    .promotion .promotion__description {
        grid-column: 12 span;
    }
    .order .order__wrapper {
        grid-template-columns: repeat(8, 1fr);
    }
    .order .order__section--info {
        grid-column: 5 span;
    }
    .order .order__section--form {
        grid-column: 3 span;
    }
}

@media screen and (max-width: 1024px) {
    .product .product__wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'section-left section-left section-left'
            'preview preview preview'
            'section-right section-right section-right';
    }
    .product .product__preview {
        margin: 0 auto;
        height: 35rem;
    }
    .product .product__section {
        flex-direction: row;
        justify-content: space-between;
    }
    .product .product__ingredient .ingredient__image {
        width: 12rem;
        height: 12rem;
    }
    .product .product__ingredient:not(:last-child) {
        margin: 0 1rem 0 0;
    }
}

@media screen and (max-width: 992px) {
    .about .about__content {
        grid-template-columns: repeat(8, 1fr);
    }
    .about .about__wrapper {
        padding: 5rem 0 2rem 0;
    }
    .about .about__preview,
    .about .about__description {
        grid-column: 8 span;
    }
    .about .about__description {
        margin-left: 1rem;
    }
    .about .about__preview {
        min-height: 30rem;
    }
    .product .product__preview {
        min-height: 10rem;
    }
    .promotion .promotion__section {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2rem;
    }
    .order .order__wrapper {
        grid-gap: 2rem;
    }
    .promotion .promotion__preview,
    .promotion .promotion__description {
        grid-column: 8 span;
    }
    .order .order__section--info,
    .order .order__section--form {
        grid-column: 8 span;
    }
    .order .price {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .promotion .promotion__features {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2rem;
    }
    .promotion .features__item {
        grid-column: 8 span;
    }
    .product .product__ingredient:not(:last-child) {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .product .product__wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'section-left'
            'preview'
            'section-right';
    }
    .product .product__section {
        flex-direction: column;
    }
    .product .product__ingredient:not(:last-child) {
        margin: 0 0 4rem 0;
    }
    .product .product__ingredient .ingredient__image {
        width: 14rem;
        height: 14rem;
    }
}

@media screen and (max-width: 475px) {
    .header .header__wrapper {
        padding: 0;
    }
    .header__nav {
        display: none;
    }
    .burger-button {
        display: flex;
    }
    .about .about__content,
    .promotion .promotion__section,
    .promotion .features {
        grid-template-columns: repeat(4, 1fr);
    }
    .about .about__preview,
    .about .about__description,
    .promotion .promotion__preview,
    .promotion .promotion__description,
    .promotion .features__item {
        grid-column: 4 span;
    }
    .order .order__product-name,
    .order .order__price {
        text-align: center;
    }
    .order .price {
        margin-bottom: 1.4rem;
    }
    .button-top {
        padding: 1rem;
        margin: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 10px;
    }
}
