:root {
    --font-size: 14px;
    --gap: 4rem;
    --yellow-color: #ffd748;
    --white-color: #fff;
    --dark-color: hsl(270, 5%, 26%);
    --blue-color: #104987;
    --green-color: #38df7a;
    --violet-color: #5f40a1;
}
