@import '../libs/normalize.css';
@import '../libs//swiper.css';
@import './_reset.css';
@import './_roots.css';

/* /. imports */

html {
    font-size: var(--font-size);
    height: 100%;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--dark-color);
    font-size: var(--font-size);
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.main > section:not(:last-child) {
    margin-bottom: 6rem;
}

.footer {
    flex: 0 0 auto;
}

/* /. general-styles */

.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* /. modificators */

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
}

.header .header__wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

/* /. header */

.burger {
    width: 100%;
    position: fixed;
    transition: all 0.45s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
    top: -100%;
    z-index: 2;
}
.burger.visible {
    top: 0;
}

.burger.dark .burger__wrapper .nav__link {
    color: #000;
}

.burger .burger__wrapper {
    padding: 1rem 1.2rem;
}

.burger .burger__nav .nav__menu {
    flex-direction: column;
}

.burger .burger__nav .nav__item:not(:last-child) {
    margin: 0 0 1rem 0;
}

.burger .burger__nav .nav__link {
    color: #999;
}

.burger-button {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    width: 1.5rem;
    height: 1.2rem;
    margin: 1rem;
    background-color: transparent;
}

.burger-button.dark span,
.burger-button.dark::before,
.burger-button.dark::after {
    background-color: #000;
}

.burger-button.transformed span {
    opacity: 0;
}

.burger-button.transformed::before {
    transform: rotate(45deg);
    top: 50%;
}

.burger-button.transformed::after {
    transform: rotate(-45deg);
    top: 50%;
}

.burger-button::before,
.burger-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--white-color);
    transition: transform 0.15s ease-in-out;
}

.burger-button::before {
    bottom: 0;
    top: auto;
}

.burger-button::after {
    top: 0;
}

.burger-button span {
    opacity: 1;
    height: 1px;
    width: 100%;
    transition: all 0.1s ease;
    background-color: var(--white-color);
}

/* /. burger */

.nav .nav__menu {
    display: flex;
}
.nav .nav__item:not(:last-child) {
    margin-right: 1rem;
}
.nav .nav__link {
    font-size: 1.1rem;
    transition: all 0.35s ease-in-out;
}
.nav .nav__link:hover {
    color: var(--blue-color);
}

/* /. nav */

.about {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.about .about__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.about .about__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.about .about__title {
    text-align: center;
    margin-bottom: 6rem;
    z-index: 1;
    color: var(--white-color);
}

.about .about__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);
    z-index: 1;
}

.about .about__preview {
    z-index: 1;
    grid-column: 6 span;
    position: relative;
    overflow: hidden;
    min-height: 22rem;
}

.about .about__image {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.about .about__description {
    grid-column: 6 span;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.about .about__description__item {
    position: relative;
    color: var(--white-color);
}

.about .about__description__item::before {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -1rem;
    content: '•';
    font-size: 2rem;
}

.about .about__description__item:not(:last-child) {
    margin-bottom: 1rem;
}

/* /. about */

.product .product__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);
    align-items: center;
}

.product .product__preview {
    position: relative;
    min-height: 20rem;
    overflow: hidden;
    grid-column: 6 span;
}

.product .product__image {
    width: 100%;
    height: 100%;
}

.product .product__section {
    display: flex;
    flex-direction: column;
    grid-column: 3 span;
}

.product .product__ingredient:not(:last-child) {
    margin-bottom: 4rem;
}

/* /. product */

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.ingredient .ingredient__image {
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.ingredient .ingredient__caption {
    text-align: center;
}

/* /. ingredient */

.review {
    display: flex;
    flex-direction: column;
}

.review .review__preview {
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

.review .review__image {
    width: 100%;
    height: 100%;
}

.review .review__author {
    display: block;
    text-align: center;
    font-style: normal;
    margin: 1rem 0 0.45rem 0;
}

.review .review__text {
    text-align: center;
}

/* /. review */

.promotion .promotion__wrapper {
    display: flex;
    flex-direction: column;
}

.promotion .promotion__section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);
    margin-bottom: 2rem;
}

.promotion .promotion__preview {
    grid-column: 6 span;
    position: relative;
    min-height: 40rem;
    overflow: hidden;
}

.promotion .promotion__image {
    width: 100%;
    height: 100%;
}

.promotion__description {
    grid-column: 6 span;
}

/* /. promotion */

.features {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    padding: 2rem 1rem;
}

.features .features__item {
    position: relative;
    grid-column: 4 span;
    margin: 0 auto;
}

.features .features__item::before {
    position: absolute;
    top: 0;
    left: -1rem;
    content: '•';
    font-size: 2rem;
    line-height: 1.125rem;
}

.features .features__link {
    font-weight: 600;
}

/* /. features */

.order {
    margin: 5rem 0;
}

.order .order__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);
}

.order .order__section--info {
    grid-column: 8 span;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order .order__section--form {
    grid-column: 4 span;
}

.order .order__preview {
    position: relative;
    min-height: 40rem;
    overflow: hidden;
    margin-bottom: 0.1rem;
}

.order .order__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.order .order__product-name {
    font-size: 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #888;
}

.order .order__timer {
    margin: auto;
}

/* /. order */

.timer {
    font-size: 1.2rem;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer .timer__count {
    font-weight: 600;
}

/* /. timer */

.price .price__value {
    font-size: 1.2rem;
    display: inline-block;
}

.price .price__value:not(:last-child) {
    margin-right: 0.45rem;
}

.price .price__value--new {
    font-size: 1.4rem;
}
.price .price__value--new {
    cursor: pointer;
    animation: rotate-perspective 26s linear infinite;
}

@keyframes rotate-perspective {
    0% {
        transform: perspective(100px) rotate(0deg);
    }
    3.283% {
        transform: perspective(100px) scale(1.12) rotateY(180deg);
    }
    6.566% {
        transform: perspective(100px) scale(1);
    }
    9.848% {
        transform: perspective(100px) rotateY(360deg);
    }
    13.131% {
        transform: perspective(100px) rotateY(360deg);
    }
    39.394% {
        transform: perspective(100px) rotateY(360deg);
    }
    100% {
        transform: perspective(100px) scale(1) rotateY(360deg);
    }
}

.price .price__value--old {
    text-decoration: line-through;
}

/* /. price */

.form .form__input {
    width: 100%;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.form .form__input-wrapper {
    width: 50%;
    position: relative;
    display: inline-block;
}
.form .form__input-wrapper:not(:last-child) {
    margin-right: 0.25rem;
}

.form .form__group {
    display: flex;
    margin-bottom: 0.65rem;
}

.form .form__input:focus {
    outline: 1px solid var(--dark-color);
}

.form .form__label {
    opacity: 0;
    position: absolute;
    top: -35%;
    right: 0;
    transition: all 0.15s ease-in-out;
    padding: 0 1rem;
    font-size: 0.75rem;
    line-height: 1;
    color: #888;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form .form__input:focus + .form__label {
    opacity: 1;
    transform: translateY(100%);
}

.form .form__label--phone {
    max-width: 12rem;
    padding: 0.15rem 0.45rem;
}

.form .form__label--name {
    max-width: 6rem;
    padding: 0.15rem 0.35rem;
}

.form .form__button {
    background-color: transparent;
    border: 1px solid #888;
    padding: 0.8rem;
    width: 100%;
}

/* /. form */

.footer {
    padding: 2rem;
}

.footer .footer__text {
    text-align: center;
}

/* /. footer */
